# Java
*.class

# Eclipse
/.classpath
/.project
/.settings/*
!/.settings/org.eclipse.jdt.ui.prefs

# IntelliJ IDEA
/.idea/

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Node
node_modules/

# Gradle
/.gradle/

# Build
/bin/
/build/
